<div
    class="relative px-4 py-6 max-w-7xl mx-auto overflow-hidden lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <div>
        <h2 class="text-3xl font-bold font-display text-gray-900">Use your email</h2>
        <p class="mt-2 max-w-2xl text-base text-gray-500">
            You want to have this file converted on your mail instead on your device? Not a problem! Now you can just
            enter your email address and you will
            get it there, enjoy your pdf file.
        </p>
    </div>
    <form class="mt-6" method="POST" action="send" enctype="multipart/form-data">
        <div class="sm:flex">
            <input type="email" name="email" required placeholder="Enter your email"
                class="block sm:max-w-xs w-full px-6 py-3 text-base appearance-none border border-gray-300 shadow-none bg-white rounded-md placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300">
            <button type="submit"
                class="mt-4 relative sm:mt-0 sm:h-auto sm:ml-4 block w-full sm:w-auto border border-transparent px-6 py-3 text-base font-semibold leading-snug bg-gray-900 text-white rounded-md shadow-md hover:bg-gray-800 focus:outline-none focus:bg-gray-800 transition ease-in-out duration-150 hover:bg-gray-600">
                Send
            </button>
        </div>
    </form>
</div>