<div class="container relative mx-auto px-6">
    <div class="bottom-0 mt-16 border-t-2 border-yellow-500 flex flex-col items-center">
        <div class="text-center py-6">
            <p class="text-md text-yellow-600 mb-2">
                © 2020 WordToPdf Converter. All rights reserved.
            </p>
        </div>
    </div>
</div>