<div class="py-12 text-center">
    <h2 class="text-base text-yellow-500 font-semibold tracking-wide uppercase">{{title}}</h2>
    <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900">
        {{heading}}
    </p>
    <p class="mt-4 mx-3 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        {{paragraph}}
    </p>
</div>