<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header}}
    {{> heading}}
    {{> section}}
    {{#if show}} {{> email}} {{/if}}
    {{download}}
    {{> footer}}
</body>

</html>